<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
{% extends "foods/base.html" %}
{% block content %}

<style>

body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    position: relative;
    font-style: italic;
    font-weight: bold;
    color: #F8BE28;
    top: 10px;
}

p{
    font-family: 'Roboto Slab', serif;
}

.cookbook-container{
    display: flex;
    flex-wrap: wrap;
}

.header{
    background-color: #36213E;
    width: 375px;
    height: 70px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.add-container{
    display: inline-table;
    margin: 20px;
    width: 289px;
    height: 266px;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #959595;
    transition: 0.2s;
    /* padding: 133px 144.5px; */
}

.add-container:hover{
    transform: translateY(-10px);
    text-decoration-line: none;
}

.plain{
    border-radius: 18px;
}

.plus{
    color: black;
    position: relative;
    font-size: 27px;
    left: 140px;
    top: 110px;
}

.added-block{
    display: inline-table;
    margin: 20px;
    width: 289px;
    height: 266px;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
    transition: 0.2s;
}

.added-block:hover{
    transform: translateY(-10px);
}

.added-pic{
    object-fit: cover;
    border-radius: 18px 18px 0px 0px;
}

.cookbook-container{
    background-color: white;
    display: flex;
}

a:hover{
    text-decoration: none;
}

.x-delete[type=submit]{
    position: relative;
    background-color: #e54545;
    border: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    left: 250px;
    bottom: 160px;
}

.x-delete[type=submit]:hover{
    background-color: #b83e3e;
}

.created-menu{
    position: relative;
    margin-left: 13px;
    margin-top: 7px;
    bottom: 35px;
    height: 50px;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
}

.created-menu:hover{
    text-decoration: none;
}

</style>

<div class="header">
    <h1>My Cookbook</h1>
</div>

<ul class="cookbook-container">
    <a class="add-container" href="/My_cook_book/create_menu/">
        <div class="plus">+</div>
    </a>

    {% if cook_book %}
        {% for each_items in cook_book %}
            <a class="added-block" href="/My_cook_book/{{ each_items.cook_name }}">
                <img class="added-pic" src="{{menu.picture_url}}" height="175px" width="289px"></img>
                <form action="delete/{{each_items.cook_name}}">
                    <input class="x-delete" type="submit" value="X">
                </form>
                <div class="created-menu">
                    <p>{{ each_items.cook_name }}</p>
                </div>
            </a>
        {% endfor %}
    {% endif %}
<!--<script>
    function confirmation() {
        let text = "Are you sure?";
        if(confirm(text) == true){
            
        }
    }
    </script> -->
</ul>
{% endblock %}