{% extends "foods/base.html" %}
{% block content %}
<ul>
    <h1>Create Your Menu</h1>
</ul>
<div id="Create_cook_class">
    <form action='.' method="POST">
        {% csrf_token %}
        <p>Menu Name*</p>
            <div id="Create_menu">
                <input type='text' name="title" placeholder="Menu Name"/>
            </div>
        <p>Description</p>
            <div id="Description">
                <input type='text' name="description" placeholder="Description"/>
            </div>
        <p>Ingredients</p>
            <div id="Ingredients">
                <input type='text' name="ingredients" placeholder="Ingredients"/>
            </div>
        <p>Total calories</p>
            <div id="Total calories">
                <input type='text' name="totalcalories" placeholder="Calories"/>
            </div>
        <p>Fat calories</p>
            <div id="Fat calories">
                <input type='text' name="fatcalories" placeholder="Calories"/>
            </div>
        <p>Sugar(grams)</p>
            <div id="Sugar">
                <input type='text' name="sugargrams" placeholder="grams"/>
            </div>
        <label for="cars">Difficulty:</label>
        <select name="Difficulty" id="Difficulty">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advance">Advance</option>
        </select>
        <div id="File">
            <input type='file' name="upfile"/>
        </div>
        <div style="margin-top:200px;">
            <button type="submit" class="btn btn-success btn-lg">Create menu</button>
        </div>
    </form>
</div>

{% endblock %}