{% extends "foods/base.html" %}
{% block content %}
<style>
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

:root {
	--primary-color:#FFB21E;
	--secondary-color:#8735b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color:#212d38;
}


.title {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    padding: 25px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .option_item {
    display: block;
    position: relative;
    width: 175px;
    height: 175px;
    margin: 10px;
}

.container .option_item .checkbox {
    /* This is to hide small checkbox */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

.option_item .option_inner .icon {
    margin-bottom: 10px;
}

.option_item .option_inner .icon .fab {
    font-size: 32px;
}

.option_item .option_inner .name {
    user-select: none;
    font-family: 'Montserrat';font-size: 16px;
}

.option_item .checkbox:checked ~ .option_inner.wheat {
    border-color: #ff8c00;
    color: #ff8c00;
}

.option_item .checkbox:checked ~ .option_inner.diary {
    border-color: #55acee;
    color: #55acee;
}

.option_item .checkbox:checked ~ .option_inner.peanut {
    border-color: #25d366;
    color: #25d366;
}

.option_item .checkbox:checked ~ .option_inner.egg {
    border-color: #be8f00bc;
    color: #be8f00bc;
}


.option_item .checkbox:checked ~ .option_inner.seafood {
    border-color: #dd4b39;
    color: #dd4b39;
}

.option_item .checkbox:checked ~ .option_inner.lowsugar {
    border-color: #04c4ffbc;
    color: #04c4ffbc;
}
.option_item .checkbox:checked ~ .option_inner.highsugar {
    border-color: #dd4b39;
    color: #dd4b39;
}
.option_item .checkbox:checked ~ .option_inner.lowfat {
    border-color: #04c4ffbc;
    color: #04c4ffbc;
}
.option_item .checkbox:checked ~ .option_inner.highfat {
    border-color: #dd4b39;
    color: #dd4b39;
}

.option_item .checkbox:checked ~ .option_inner.lowenergy {
    border-color: #04c4ffbc;
    color: #04c4ffbc;
}
.option_item .checkbox:checked ~ .option_inner.highenergy {
    border-color: #dd4b39;
    color: #dd4b39;
}
.option_item .checkbox:checked ~ .option_inner.meat {
    border-color: #f44d00c7;
    color: #f44d00c7;
}
.option_item .checkbox:checked ~ .option_inner.blueberries {
    border-color: #003df4c7;
    color: #003df4c7;
}
.option_item .checkbox:checked ~ .option_inner.avocado{
    border-color: #017a39c7;
    color: #017a39c7;
}
.option_item .checkbox:checked ~ .option_inner.onions{
    border-color: #62fc90c7;
    color: #62fc90c7;
}
.option_item .checkbox:checked ~ .option_inner.herbseasoning{
    border-color: #419159;
    color: #419159;
}
.option_item .checkbox:checked ~ .option_inner.butter{
    border-color: #dbd700;
    color: #dbd700;
}
.option_item .checkbox:checked ~ .option_inner.chocolate{
    border-color: #ff0000;
    color: #ff0000;
}
.option_item .checkbox:checked ~ .option_inner.cheese{
    border-color: #ffc400;
    color: #ffc400;
}
.option_item .checkbox:checked ~ .option_inner.beginner{
    border-color: #ff7700;
    color: #ff7700;
}
.option_item .checkbox:checked ~ .option_inner.intermediate{
    border-color: #3c00ff;
    color: #3c00ff;
}
.option_item .checkbox:checked ~ .option_inner.advance{
    border-color: #f200ff ;
    color: #f200ff ;
}
.option_item .checkbox:checked ~ .option_inner.rating{
    border-color: #ffd000 ;
    color: #ffd000 ;
}


.option_item .option_inner .tickmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
}

.option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
    display: block;
}

.option_item .option_inner.wheat .tickmark {
    border-color: #ff8c00 transparent transparent #ff8c00;
}

.option_item .option_inner.diary .tickmark {
    border-color: #55acee transparent transparent #55acee;
}

.option_item .option_inner.peanut .tickmark {
    border-color: #25d366 transparent transparent #25d366;
}

.option_item .option_inner.egg .tickmark {
    border-color: #be8f00bc transparent transparent #be8f00bc ;
}

.option_item .option_inner.seafood .tickmark {
    border-color: #dd4b39 transparent transparent #dd4b39;
}

.option_item .option_inner.lowsugar .tickmark {
    border-color: #04c4ffbc transparent transparent #04c4ffbc;
}
.option_item .option_inner.highsugar .tickmark {
    border-color: #dd4b39 transparent transparent #dd4b39;
}

.option_item .option_inner.lowfat .tickmark {
    border-color: #04c4ffbc transparent transparent #04c4ffbc;
}
.option_item .option_inner.highfat .tickmark {
    border-color: #dd4b39 transparent transparent #dd4b39;
}

.option_item .option_inner.lowenergy .tickmark {
    border-color: #04c4ffbc transparent transparent #04c4ffbc;
}
.option_item .option_inner.highenergy .tickmark {
    border-color: #dd4b39 transparent transparent #dd4b39;
}
.option_item .option_inner.meat .tickmark {
    border-color: #f44d00c7 transparent transparent #f44d00c7;
}
.option_item .option_inner.blueberries .tickmark {
    border-color: #003df4c7 transparent transparent #003df4c7;
}
.option_item .option_inner.avocado .tickmark {
    border-color: #017a39c7 transparent transparent #017a39c7;
}
.option_item .option_inner.onions .tickmark {
    border-color: #62fc90c7 transparent transparent #62fc90c7;
}
.option_item .option_inner.herbseasoning .tickmark {
    border-color: #419159 transparent transparent #62fc90;
}
.option_item .option_inner.butter .tickmark {
    border-color: #dbd700 transparent transparent #dbd700;
}
.option_item .option_inner.chocolate .tickmark {
    border-color: #ff0000 transparent transparent #ff0000;
}
.option_item .option_inner.cheese .tickmark {
    border-color: #ffc400 transparent transparent #ffc400;
}
.option_item .option_inner.beginner .tickmark {
    border-color: #ff7700 transparent transparent #ff7700;
}
.option_item .option_inner.intermediate .tickmark {
    border-color: #3c00ff transparent transparent #3c00ff;
}
.option_item .option_inner.advance .tickmark {
    border-color: #f200ff transparent transparent #f200ff;
}

.option_item .option_inner.rating .tickmark {
    border-color: #ffd000 transparent transparent #ffd000;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.slide1 {
    max-width: auto !important;
    overflow-x: scroll;
}

.slide2{
    max-width: auto!important;
    overflow-x: scroll;
}

.slide3 .container {
    max-width: 80em;
    overflow-x: visible;
}


</style>
<script src="https://kit.fontawesome.com/f56f1a34bc.js" crossorigin="anonymous"></script>


<div class="wrapper">
    <div class="slide3" onchange="getValue3(event)">
        <div class="title">
            Sweetness
        </div>
        <div class="container">
            <label class="option_item">
                <input type="radio" class="checkbox" checked name="onions" value="Non sweet">
                <div class="option_inner onions">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-face-meh"></i></div>
                <div class="name">Non sweet</div>
                </div>
            </label>
            <label class="option_item">
                <input type="radio" class="checkbox" name="herbseasoning" value="Less sweet">
                <div class="option_inner herbseasoning">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-face-smile"></i></div>
                <div class="name">Less sweet</div>
                </div>
            </label>
            <label class="option_item">
                <input type="radio" class="checkbox" name="butter" value="Normal sweet">
                <div class="option_inner butter">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-face-laugh"></i></div>
                <div class="name">Normal sweet</div>
                </div>
            </label>
            <label class="option_item">
                <input type="radio" class="checkbox" name="chocolate" value="More sweet">
                <div class="option_inner chocolate">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-face-laugh-squint"></i></div>
                <div class="name">More sweet</div>
                </div>
            </label>
            <label class="option_item">
                <input type="radio" class="checkbox" name="cheese" value="Extra sweet">
                <div class="option_inner cheese">
                    <div class="tickmark"></div>
                    <div class="icon"><i class="fa-solid fa-face-grin-tongue-squint"></i></div>
                    <div class="name">Extra sweet</div>
                </div>
            </label>
        </div>
    </div>
    <div class="slide2" onchange="getValue2()">
        <div class="title">
            Decision Foods
        </div>
        <div class="container">
            <label class="option_item">
                <input type="radio" class="checkbox" checked name="energy">
                <div class="option_inner lowenergy">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-angles-down"></i></div>
                <div class="name">Low energy</div>
                </div>
            </label>
            <label class="option_item">
                <input type="radio" class="checkbox" name="energy">
                <div class="option_inner highenergy">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-angles-up"></i></div>
                <div class="name">High energy</div>
                </div>
            </label>
        </div>
    </div>
    <div class="slide4" onchange="getValue4()">
        <div class="title">
            Cooking Skills
        </div>
        <div class="container">
            <label class="option_item">
                <input type="checkbox" class="checkbox" name="beginner" value="beginner">
                <div class="option_inner beginner">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-user"></i></div>
                <div class="name">Beginner</div>
            </div>
            </label>
            <label class="option_item">
                <input type="checkbox" class="checkbox" name="intermediate" value="intermediate">
                <div class="option_inner intermediate">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-user-graduate"></i></div>
                <div class="name">Intermediate</div>
                </div>
            </label>
            <label class="option_item">
                <input type="checkbox" class="checkbox" name="advance" value="advance">
                <div class="option_inner advance">
                <div class="tickmark"></div>
                <div class="icon"><i class="fa-solid fa-user-astronaut"></i></div>
                <div class="name">Advance</div>
                </div>
            </label>
        </div>
    </div>
    <div class="slide1">
        <div class="title">
            Menu Rating Score
        </div>
        <div class="container" onchange="getValue1()">
            {% for index in '12345'|make_list %}
            <label class="option_item">
                <input type="checkbox" class="checkbox"  name="rating" value={{index}}>
                <div class="option_inner rating">
                    <div class="tickmark"></div>
                    <div class="name">{{index}}</div>
                    <div class="icon"><i class="fa-solid fa-star"></i></div>
                </div>
            </label>
            {% endfor %}
        </div>
    </div>
    <button onclick="onSubmit()"><i class="fa fa-solid fa-search"></i>Filter</button>
</div>
    <script>
        const filter = {
            rating: [],
            decisionFood: { energy: 'Low energy' },
            sweetness: { level: 'Non sweet' },
            cookingSkills: [],
        };
        // get checked value of allegies food
        const getValue1 = () => {
            const slide1 = document.querySelector('.slide1');
            const container = slide1.querySelector('.container');
            const option_item = container.querySelectorAll('.option_item');
            const rating = []
            for(let i = 0; i < option_item.length; i++) {           
                const checkbox = option_item[i].querySelector(".checkbox")
                if (checkbox.checked) {
                    rating.push(parseInt(checkbox.value))}
            };
            filter.rating = rating;
            console.log(rating);
        }

        // get checked value of 
        const getValue2 = () => {
            const slide2 = document.querySelector('.slide2');
            const container = slide2.querySelector('.container');
            const option_item = container.querySelectorAll('.option_item');
            const decisionFood = {
                energy: 'Low energy',
            }
            const radioGroup = Array.from(option_item).map((item) => {
                return item.querySelector('input[type="radio"]')
            })
            decisionFood.energy = radioGroup[0].checked ? 'Low energy' : 'High energy';
            filter.decisionFood = {...decisionFood};
            console.log(decisionFood);
        }

        const getValue3 = (event) => {
            const slide3 = document.querySelector('.slide3');
            const container = slide3.querySelector('.container');
            const option_item = container.querySelectorAll('.option_item');
            const sweetness = {
                level: 'Non sweet',
            }
            const radioGroup = Array.from(option_item).map((item) => {
                return item.querySelector('input[type="radio"]')
            })

            sweetness.level = event.target.defaultValue
            radioGroup.forEach((radio, index) => {
                radio.checked = event.target.defaultValue === radio.value ? true : false
            })
            filter.sweetness.level = sweetness.level
            console.log(sweetness);
        }

        const getValue4 = () => {
            const slide1 = document.querySelector('.slide4');
            const container = slide1.querySelector('.container');
            const option_item = container.querySelectorAll('.option_item');
            const cookingSkills = []
            for(let i = 0; i < option_item.length; i++) {           
                const checkbox = option_item[i].querySelector(".checkbox")
                if (checkbox.checked) {
                    cookingSkills.push(checkbox.value)}
            };
            filter.cookingSkills = cookingSkills
            console.log(cookingSkills);
        }
        const onSubmit = () => {
            // TODO: submit data to {% url 'result' %} bu using fetch
            console.log(filter)
            // const csrftoken = getCookie('csrftoken');
            // fetch(`/filter/result/?q=${JSON.stringify(filter)}`, {
            //     method: 'GET',
            //     credentials: 'same-origin',
            //     headers: {
            //         'Accept': 'application/json',
            //         'Content-Type': 'application/json',
            //         "X-CSRFToken": csrftoken
            //     },
            // }).then(async(response) => {
            //     console.log(await response.json())
            // }).then((data) => {
            //     console.log(data)
            // })
            window.location.replace(`/filter/result/?q=${JSON.stringify(filter)}`)
            // fetch('/filter/result/', {
            //     method: 'POST',
            //     credentials: 'same-origin',
            //     headers: {
            //         'Accept': 'application/json',
            //         'Content-Type': 'application/json',
            //         "X-CSRFToken": csrftoken
            //     },
            //     body: JSON.stringify({'post_data': filter})
            // }).then(async(response) => {
            //     console.log(await response.json())
            // }).then((data) => {
            //     console.log(data)
            // })
        };

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>                           
{% endblock %}









    <!-- 
    <div class="container">
    <label class="option_item">
        <input type="checkbox" class="checkbox">
        <div class="option_inner wheat">
        <div class="tickmark"></div>
        <div class="icon"><i class="fa-solid fa-wheat-awn"></i></div>
        <div class="name">Wheat</div>
    </div>
    </label>
    <label class="option_item">
        <input type="checkbox" class="checkbox" checked>
        <div class="option_inner dairy">
        <div class="tickmark"></div>
        <div class="icon"><i class="fa-solid fa-glass-water"></i></div>
        <div class="name">Dairy</div>
        </div>
    </label>
    <label class="option_item">
        <input type="checkbox" class="checkbox">
        <div class="option_inner peanut">
        <div class="tickmark"></div>
        <div class="icon"><i class="fa-regular fa-lemon"></i></div>
        <div class="name">Peanut</div>
        </div>
    </label>
    <label class="option_item">
        <input type="checkbox" class="checkbox" checked>
        <div class="option_inner egg">
        <div class="tickmark"></div>
        <div class="icon"><i class="fa-solid fa-egg"></i></div>
        <div class="name">Egg</div>
        </div>
    </label>
    <label class="option_item">
        <input type="checkbox" class="checkbox">
        <div class="option_inner seafood">
        <div class="tickmark"></div>
        <div class="icon"><i class="fa-solid fa-shrimp"></i></div>
        <div class="name">Seafood</div>
        </div>
    </label> -->
