<link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
{% extends "foods/base.html" %}
{% block content %}

<style>

h2{
    font-family: 'Lemon';font-size: 34px;
}
.text-title-1{
    font-family: 'Lemon';font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px;
    display: flex;
    align-items: center;
    color: #000000
}

h3{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    margin-left: 30px;
    font-weight: bold;
}

.container-title{
    display:flex;
    justify-content: space-between;
}

.text-title-2{
    text-decoration: none;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    display: flex;
    align-items: center;
    color: #000000;
}

.text-title-2:hover{
    text-decoration: none;
    color: black;
}

.one_block{
    display: inline-table;
    margin: 30px;
    width: 289px;
    height: 266px;
    border-radius: 25px;
    box-shadow: -1px 0 10px #000000;
    background-color: white;
    transition: 0.2s;
}

.one_block:hover{
    transform: translateY(-10px);
}

.images{
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: small;
    font-weight: bolder;
    margin: 5px;
    color: #000000;
}

.blocks_zone{
    background-color: #FEDA94;
    text-decoration: none;
}

</style>
<div>
    {% if food_of_day %}
    <div class="container-title">
        <h1 class="text-title-1">Food of the day</h1>
        <a href="{% url 'detail' food_of_day.menu.id %}" class="text-title-2">
            <h2 class=>{{ food_of_day.menu.menu_name }}</h2>
        </a>
        <a class="menuImage" href="{% url 'detail' food_of_day.menu.id %}"><img src= "{{food_of_day.menu.picture_url}}" alt=menu.id width="400"></a>
    </div>
    {% endif %}
</div>    

<div class="blocks_zone">
<h3>Menu For You</h3>
    {% if menu_list%}
        {% for menu in menu_list %}
        <a class="one_block" href="{% url 'detail' menu.id %}">
            <img class="images" src="{{menu.picture_url}}" height="190px" width="289px"></img>
            <p>{{menu.menu_name}}</p>
        </a>
        {% endfor %}
    {% endif %} 
</div>

{% endblock %}