<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<style>

@media all and (max-width: 1000px){
    #navbarNavDropdown{
        display: none;
    }
}

p1 {
    font-family: 'Lemon';
    font-size: 21px;
}

#p1{
    position: absolute;
    left: 120px;
}

.nav-bar{
    display: inline-flex;
    list-style: none;
    align-items: center;
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}

.navbar-collapse ul{
    position: absolute;
    right: 10px;
}

.dropdown-item{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    position: relative;
    color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
    display: flex;
}

.dropdown-content {
    display: none;
    position: relative;
    max-height: 400px;
    overflow-y: auto;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show{
    display: block;
}

/* Hamburger Dropdown Menu */
.hamburger1{
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 7px);
    justify-items: center;
    z-index: 120;
}

.hamburger1 div{
    background-color: #36213E;
    position: relative;
    width: 20px;
    height: 3px;
    margin-top: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle1{
    display: none;
}

#toggle1:checked + .hamburger1 .top{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 14px;
}

#toggle1:checked + .hamburger1 .meat{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#toggle1:checked + .hamburger1 .bottom{
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle1:checked ~ .dropdown-menu{
    height: 340px;
}
/* Hamburger Dropdown Menu */

.search-wrapper{
    position: relative;
    width: 350px;
    height: 35px;
    display: inline;
    align-items: center;
    margin: 10px;
    margin-left: 0;
    top: 1px;
}

#search-input{
    display: inline;
    position: static;
    width: 350px;
    height: 35px;
    border-radius: 20px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#maggie{
    box-sizing: border-box;
    position: relative;
    color: white;
    background-color: #5E1689;
    border-radius: 50%;
    padding: 7px;
    border: none;
    right: 3px;
    transition: all 0.3s;
    float: right;
    bottom: 32.5px;
}

.about-us[type=submit]{
    font-family: 'Roboto Slab', serif;
    position: relative;
    color: black;
    top: 8px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    padding: 7.5px 18px;
    border: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logout, .login{
    position: relative;
    text-transform: uppercase;
    background: linear-gradient(180deg, #5E1689 40%, #8735b7 80%, #e3b3ff 120%);
    border: 1.5px solid #5E1689;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    line-height: 0.5px;
}

.logs-text{
    font-family: 'Roboto Slab', serif;
    position: relative;
    color: white;
    top: 7px;
    font-size: 15px;
}

</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FFB21E;">
    <a class ="navbar-brand" href="{% url 'index' %}"><img src ="https://i.ibb.co/fXy38gx/Hungry-Me-logo.png"  width="80" class="img-responive"></a>
    
    {% if user.is_authenticated %}
    <div id="p1" aria-current="page" style="color:black"><p1>{{ user.username }} is Hungry!</p1></div>
    {% else %}
    <div id="p1" aria-current="page" style="color:black"><p1>Welcome!</p1></div>
    {% endif %}
    
    <div class="navbar-collapse" id="navbarNavDropdown">
        <ul class="nav-bar">
            <li> <!-- Dropdown Menu -->
                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <input id="toggle1" type="checkbox">
                <label class="hamburger1" for="toggle1">
                    <div class="top"></div>
                    <div class="meat"></div>
                    <div class="bottom"></div>
                </label>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">What should I eat?</a>
                    <a class="dropdown-item" href="{% url 'top-rated' %}">Top Rated-Dishes</a>
                    <a class="dropdown-item" href="#">Community's Foods</a>
                    <a class="dropdown-item" href="{% url 'cook' %}">My Cookbook</a>
                    <a class="dropdown-item" href="{% url 'create' %}">Add My Food</a>
                </div>
            </li>
            <div class="search-wrapper"> <!-- Search Box -->
                <li>
                    <form class="search-box" action="{% url 'index' %}">
                        <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search menus..." aria-label="Search" name="search" autocomplete="off">
                        <div id="myDropdown" class="dropdown-content">
                            {% if menu_list%}
                                {% for menu in menu_list %}
                                    <a href= "{% url 'detail' menu.id %}">{{menu.menu_name}}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button id="maggie" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
            </div>
            <li> <!-- About Us -->
                <form action="https://github.com/jaybjackie/HungryMe/wiki/About-us" target="_blank">
                    <input class="about-us" type="submit" value="About us"/>
                </form>
            </li> 
            <li> <!-- Login/Logout -->
                {% if user.is_authenticated %}
                <button class="logout">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                        <p class="logs-text">Logout</p>
                    </a>
                </button>
                {% else %}
                <button class="login">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                        <p class="logs-text">Login / Sign up</p>
                    </a>
                </button>
                {% endif %}
            </li>
        </ul>
    </div>
    <script>
        /* Get search input a and call it to use function event */
        document.getElementById("search-input").addEventListener("input", ()=> {
            myFunction()
            filterFunction()
        })
        /* When the user type,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            console.log("Hello world")
            if(document.getElementById("myDropdown").classList.contains("show")){
                return
            }
            document.getElementById("myDropdown").classList.toggle("show");
        }
        
        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("search-input");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length ; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
            }
        }

        // $(document).ready(function(){
        //     // Show hide popover
        //     $(".dropdown").click(function(){
        //         $(this).find(".dropdown-content").slideToggle("fast");
        //     });
        // });

        // $(document).on("click", function(event){
        //     var $trigger = $(".dropdown");
        //     if($trigger !== event.target && !$trigger.has(event.target).length){
        //         $(".dropdown-content").slideUp("fast");
        //     }            
        // });
    </script>
</nav>