<style>
p1 {
    font-family: 'Lemon';font-size: 21px;
}
.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}
button {
        border-radius: 20px;
        background-color: #8735b7;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 2.5px;
    }


.nav-bar {
    display: flex;
    list-style: none;
    align-items: center;
    float: right;
}

.navbar-collapse {
    position: relative;
}
.navbar-collapse ul{
    position: absolute;
    right: 10px;

}
.dropdown-toggle::after {
    content: none;
}

.dropdown-item{
    color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FFB21E;">
    <a class ="navbar-brand" href="{% url 'index' %}"><img src ="https://i.ibb.co/fXy38gx/Hungry-Me-logo.png"  width="80" class="img-responive"></a>
    <div id="p1" aria-current="page"style="color:black"><p1>{{ user.username }} is Hungry!</p1></div>
    
    <div class="navbar-collapse" id="navbarNavDropdown">
        <ul class="nav-bar">
            <li>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="bars"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a class="dropdown-item" href="#">Top Rated-Dishes</a>
                    <a class="dropdown-item" href="#">What should I eat ?</a>
                    <a class="dropdown-item" href="#">Community's recipe</a>
                    <a class="dropdown-item" href="#">Add my menu</a>
                    <a class="dropdown-item" href="#">My cookbook</a> 
                    <a class="dropdown-item" href="#">My history</a>
                </div>
            </li>
            <li>   
                <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">
                    <input class="form-control mr-sm-2" type="search"   placeholder="Search for Menus!" aria-label="Search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li>
                <button type="button" class="btn btn-light" style="background-color: rgb(255, 255, 255);border:1px solid #FFB21E;border-radius: 50px; cursor: pointer;">
                    <a type="button" style= "background-color:#ffffff ;border:0.5px solid #ffffff;border-radius: 50px; cursor: pointer;" class="btn btn-light" aria-current="page" href="#" width="20" >About us</a>
                </button>
            </li> 
            <li>
                <button style= "background: linear-gradient(180deg, #5E1689 40%, #8735b7 80%, #e3b3ff 120%);border:1.5px solid #5E1689;padding: 3px;border-radius: 50px; cursor: pointer;">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                </button>
            </li>
            <li>
                <button style= "background: linear-gradient(180deg, #5E1689 40%, #8735b7 80%, #e3b3ff 120%);border:1.5px solid #5E1689;padding: 3px;border-radius: 50px; cursor: pointer;">
                    <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Sign Up</a>
                </button>
            </li>
        </ul>
    </div>
</nav>

