<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FFB21E;">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a class ="navbar-brand" href="#"><img src ="static/foods/images/logo.png"  width="80" class="img-responive"></a>
        </div>
        <div id="h1" aria-current="page"style="color:black"><h1>{{ user.username }} is Hungry!</h1></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                    <button style="background-color: rgb(255, 255, 255);border:1px solid #FFB21E;border-radius: 50px; cursor: pointer;">
                        <a type="button" style= "background-color:#ffffff ;border:0.5px solid #ffffff;border-radius: 50px; cursor: pointer;" class="btn btn-light" aria-current="page" href="#">About us</a>
                    </button>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Login</a>
                    </li>
                    <button style= "background: linear-gradient(180deg, #5E1689 40%, #8735b7 80%, #e3b3ff 120%);border:1.5px solid #5E1689;padding: 3px;border-radius: 50px; cursor: pointer;">
                        <a class="nav-link active" aria-current="page" href="#">Sign Up</a>
                    </button>
            </ul>
        </div>
    </div>
</nav>