# Create a secret key using ...
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY = 'YOUR-SECRET_KEY'
# set DEBUG to True for testing, False for actual use
DEBUG = False
# set the time zone to Asia/Bangkok
TIME_ZONE = Asia/Bangkok
ALLOWED_HOSTS = ['.localhost', '127.0.0.1', '[::1]']