<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
{% extends 'foods/base.html' %}
<style>

h1 {
    font-family: 'Lemon';font-size: 21px;
}

body{
    font-family: 'Roboto Slab', serif;
}

</style>


{% block content %}
    <h1>You have been logged out!</h1>
    <a href="{% url 'login' %}">Login again</a>
{% endblock %}