<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
{% extends "registration/header.html" %}
{% block content %}

{% if validlink %}
    <h1>Set new password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <botton type="submit">Submit</button>
    </form>
{% else %}
    <p>The validation link is not valid!</p>
{% endif %}

{% endblock %}