<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
{% extends "registration/header.html" %}
{% block content %}

<style>

body{
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(90deg, rgba(255,188,58,1) 0%, rgba(96,9,121,1) 73%, rgba(46,0,62,1) 100%);    
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.forgot-wrapper{
    position: absolute;
    text-align: center;
    padding: 40px;
    width: 800px;
    border: 2px solid;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 55%;
    left: 40%;
    transform: translate(40%, 55%);
    background-color: white;
}

.send-button{
    color: white;
    background: linear-gradient(180deg, #5E1689 40%, #8735b7 80%, #e3b3ff 120%);
    border: 1.5px solid #5E1689;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.4s ease-in-out;
}

.send-button:hover{
    color: #FFB21E;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.forgot-logo{
    width: 170px;
    height: 170px;
    margin: 20px;
    float: left;
}

</style>

<div class="forgot-wrapper">
    <img class="forgot-logo" src ="https://i.ibb.co/fXy38gx/Hungry-Me-logo.png"></a>
    <h1>Forgot your password?</h1>
    <p>
        Enter your email address.
    </p>

    <form method="post">
        {% csrf_token %}
        {{form.as_p }}
        <botton class="send-button" type="submit">Send</button>
    </form>
</div>

{% endblock %}